.login-form{
   margin-top: 4px;
}
.label{
    color: white;
    padding-right: 10px;
    padding-left: 16px;
}
.btn-login{
    padding: 4px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: var(--primary-color);
    display: inline-block;
}
.btn-login:hover{
    background-color: green;
}
i.bi.bi-eye{
    position: absolute;
    right: 150px;
    bottom: 20px;
}
.alert{
    position: fixed;
}